{% extends "_includes/default.njk" %}

{% block title %}It does work{% endblock %}

{% block content %}
  {# <div class="fixed inset-0 flex justify-center items-center"> #}
    <header>
      <h1>
        syndication from
        <a href="{{ ryanblog.url }}">
          {{ ryanblog.title }}
        </a>
      </h1>
      <span>last updated: {{ ryanblog.update }}</span>
      <p>
        {{ ryanblog.description }}  
      <p>
      <a href="mailto:{{ ryanblog.email }}?subject=Dear {{ ryanblog.author }}">
        Contact Me
      </a>
      <img width="100" src="{{ ryanblog.image.src }}" alt="{{ ryanblog.image.alt }}" />
    </header>
    
    <ul>
      {% for post in ryanblog.posts %}
        <li>
          <a href="/{{ post.url }}">
            <article>
              <header>
                <img width="500" src="{{ post.image.src }}" alt="{{ post.image.alt }}" />
                <h2>{{ post.title }}</h2>
                {{ post.date }}
              </header>
              <ul>
                {% for category in post.categories %}
                  <li>{{ category }}</li>
                {% endfor %}
              </ul>
              <p>
                {{ post.excerpt | safe }}
              </p>
            </article>
          </a>
        </li>
      {% endfor %}
    </ul>

  {# </div> #}
{% endblock %}
