---
pagination:
    data: ryanblog.posts
    size: 1
    alias: post
permalink: "/{{ post.url }}/"
---

{% extends "_includes/default.njk" %}

{% block head %}
  <title>{{ ryanblog.title }} | {{ post.title }}</title>
  <meta name='description' content="{{ post.excerpt }}">
  <meta name='keywords' content="{{ post.categories }}">

  <link rel="canonical" href="{{ ryanblog.url }}/blog/{{ post.url }}">
{% endblock %}

{% block content %}
  <header class="container lg:grid grid-cols-3 items-center">
    <div class="col-start-2 col-end-4 row-start-1 row-end-2 w-full relative z-0 px-5 mt-20 lg:mt-0">
      <img 
        class="object-cover object-right h-full w-full opacity-75 grayscale"
        src="{{ post.image.src }}?nf_resize=fit&w=1000" alt="{{ post.image.alt }}"
      />
    </div>

    <div class="lg:col-start-2 lg:col-end-4 lg:row-start-1 lg:row-end-2 h-full w-full relative z-1 bg-gradient-to-r text-light dark:text-dark from-current to-transparent">
    </div>

    <div class="col-start-1 col-end-3 row-start-1 row-end-2 relative z-2 px-5 py-20">
      <h1 class="text-6xl mb-5">
        {% if post.series %}
          <span class="block text-3xl">
            {{ post.series }}:
          </span>
        {% endif %}
        <span class="font-bold">
          {{ post.title }}
        </span>
      </h1>

      <p class="block text-2xl mb-20">
        {{ post.excerpt | safe }}
      </p>

      <ul class="text-2xl mb-1">
        {% for category in post.categories %}
          <li class="inline">
            #{{ category }}{% if loop.last %}{% else %}, {% endif %}
          </li>
        {% endfor %}
      </ul>

      <time class="block text-2xl mb-1">
        {{ post.date }}
      </time>

      <a href="{{ ryanblog.url }}/blog/{{ post.url }}" class="text-2xl font-bold">
        read the original post »
      </a>

    </div>

  </header>

  <article class="post-body container px-5 mt-20 mb-40 text-lg">
    {{ post.html | safe }}
  </article>

  <a href="/" class="flex justify-center w-full text-5xl py-10 hover:bg-current">
    <span class="block container text-dark dark:text-light px-5">
      « back
    </span>
  </a>
{% endblock %}
