@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .grayscale {
    filter: grayscale(1);
  }
}

:root {
  --black: #010101;
  --white: #fefefe;
  --highlight: #f51e30;
  --transparent: transparent;
}

a:hover,
a:focus {
  color: var(--highlight);
}
